/*MAIN */
.clearfix:before, .clearfix:after {
  content: " ";
  display: block;
  clear: both; }

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  box-sizing: border-box; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

/*HEADER */
header {
  background: #C23F4F;
  height: 70px; }

nav img {
  float: left;
  margin-top: 5px; }
nav ul {
  padding: 0;
  margin: 0;
  height: 100%; }
  nav ul li {
    display: inline-block;
    float: right;
    width: 15%;
    margin-left: 3%;
    text-align: center;
    height: 70px;
    line-height: 70px;
    background: #5E626B; }
    nav ul li a {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: #F79BA6;
      font-weight: 900;
      background: #5E626B;
      transition: 1s all;
      width: 100%; }
      nav ul li a:hover {
        background: #F79BA6;
        color: #5E626B; }

/*HERO */
.hero {
  height: 100vh;
  background: #ccc url(https://cdn.pixabay.com/photo/2016/10/28/16/29/usa-1778524__340.jpg) 0/cover no-repeat;
  position: relative; }

.hero-text {
  font-size: 30px;
  color: #E36876;
  background: rgba(0, 0, 0, 0.2);
  height: 200px;
  padding-left: 50px;
  padding-right: 12vw;
  position: absolute;
  top: 33vh;
  right: 0; }

h1 {
  text-align: center;
  text-shadow: 2px 2px 4px #000000;
  text-transform: uppercase;
  line-height: 200px;
  margin: 0 auto; }

#wrap {
  white-space: nowrap; }

/*GALLERY */
.gallery {
  margin-top: 5%;
  margin-bottom: 5%; }

.col-4 {
  height: 60vh;
  width: 30%;
  float: left;
  margin-right: 5%;
  background: #d35400;
  box-sizing: border-box;
  cursor: pointer;
  transition: 1s all; }
  .col-4:hover {
    opacity: 0.6; }
  .col-4:nth-of-type(3) {
    margin-right: 0;
    background: #ccc url(https://images.pexels.com/photos/374710/pexels-photo-374710.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
  .col-4:nth-of-type(1) {
    background: #ccc url(https://images.pexels.com/photos/162024/park-new-york-city-nyc-manhattan-162024.jpeg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }
  .col-4:nth-of-type(2) {
    background: #ccc url(https://images.pexels.com/photos/8218/pexels-photo.jpg?h=350&auto=compress&cs=tinysrgb) 0/cover no-repeat; }

/*MAP */
.map {
  font-size: 0; }
  .map img {
    width: 100%;
    cursor: pointer; }

/*FOOTER */
footer {
  height: 40px;
  background: grey;
  margin: 0; }

.rights {
  text-align: center; }
  .rights p {
    font-size: 16px;
    height: 40px;
    color: #fff;
    margin: 0;
    line-height: 40px; }

/*MEDIA */
@media (max-width: 1200px) {
  .col-4 {
    width: 32.667%;
    margin-right: 1%; }
    .col-4:nth-of-type(3) {
      margin-right: 0; }

  nav ul li {
    margin-left: 1%; } }
@media (max-width: 768px) {
  nav img {
    display: block;
    float: none;
    margin: 0 auto;
    padding: 10px; }

  header {
    height: auto; }

  nav ul {
    padding: 0;
    text-align: center; }
    nav ul li {
      float: none;
      width: 55%;
      margin: auto;
      margin-bottom: 10px; }
      nav ul li a {
        float: none;
        display: block; }

  .col-4 {
    float: none;
    width: 100%;
    margin-top: 5%; }

  .gallery {
    padding: 0 5%; }

  h1 {
    font-size: 30px; }

  .hero-text {
    padding-right: 50px; } }

/*# sourceMappingURL=style.css.map */
